openapi: 3.0.3
info:
  title: Stratos API
  version: 1.0.0
  description: '# Introduction


    Welcome


    Stratos Payment offers a unified API to integrate financial service to your application.


    ## Can we assist you?


    Thank you for taking the time to use Stratos Payment APIs.


    Please contact us at [support@stratospayments.com](https://mailto:support@stratospayments.com)
    if you have any queries, feature suggestions, or discover any problems.


    StartFragment


    # Environment


    To make testing and developing with Stratos Payment quick and easy, we make use
    of the same API endpoint for sandbox and production, the only difference is the
    keys used when calling the APIs.


    | Environment | Purpose | Base URL |

    | --- | --- | --- |

    | Sandbox | The sandbox environment is dedicated to test and development phases.
    | [https://stratospay.com/api/v1](https://stratospay.com/api) |

    | Production | The production environment is dedicated for live transactions.
    | [https://stratospay.com/api/v1](https://stratospay.com/api) |'
servers:
- url: https://stratospay.com/api/v1
  description: Production / Sandbox (use appropriate API key)
tags:
- name: Onboarded Customers - Onboarding
- name: Onboarded Customers - Virtual Cards
- name: Onboarded Customers - Crypto Wallets
- name: Onboarded Customers - Fiat Wallets
- name: Onboarded Customers - Transactions
- name: Onboarded Customers - Remittance Recipients
- name: Onboarded Customers - MCP Server
- name: Onboarded Customers - Multi Factor Security
- name: Onboarded Customers - Swap & Payout
- name: Merchant (Main Account) - Payment Collection
- name: Merchant (Main Account) - Transactions
- name: Merchant (Main Account) - Remittance
- name: Merchant (Main Account) - Blockchain Ledger
- name: Merchant (Main Account) - Local Transfer
- name: Merchant (Main Account) - General
- name: Merchant (Main Account) - Invoice
paths:
  /customer/director/all/{customer_id}:
    get:
      summary: Get all directors
      description: >
        Returns a comprehensive list of all directors associated with a specific onboarded customer.
      tags:
        - Onboarded Customers - Onboarding
      security:
        - bearerAuth: [ ]
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The unique identifier of the customer whose directors you want to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: OK - Returns an array of director objects.
        '400':
          description: Bad Request - Check the customer_id format.
        '401':
          description: Unauthorized - Bearer token missing or invalid.
        '422':
          description: Unprocessable Entity - Valid ID but record not found.
  /customer/director/create/{customer_id}:
    post:
      summary: Create a director
      description: >
        Adds a new director to an existing customer profile. 
        Pass your `{api_key}` as a bearer token in the request header to authorize this call.
      tags:
        - Onboarded Customers - Onboarding
      security:
        - bearerAuth: [ ]
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The unique identifier of the customer (onboarded entity).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Director's legal first name
                  example: John

                middle_name:
                  type: string
                  description: Director's legal middle name
                  example: Michael

                last_name:
                  type: string
                  description: Director's legal last name
                  example: Derrick

                email:
                  type: string
                  format: email
                  description: Director's email address
                  example: derrick@remote.com

                phone:
                  type: string
                  description: Director's phone number, including country dialing code if applicable
                  example: +234901234567899

                phone_iso2:
                  type: string
                  description: ISO 3166-1 alpha-2 country code for the phone number
                  example: NG

                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code of residence
                  example: US

                state:
                  type: string
                  description: State, province, or subdivision code/name for the director's address
                  example: DE

                city:
                  type: string
                  description: City of residence
                  example: Wilmington

                street:
                  type: string
                  description: Street address of the director
                  example: 24 Maple Avenue

                postal_code:
                  type: string
                  description: Postal or ZIP code for the address
                  example: 90000

                ownership:
                  type: integer
                  description: Percentage of shares owned by the director
                  example: 10

                position:
                  type: string
                  description: Director's role or position in the company
                  example: CTO

                birthday:
                  type: string
                  description: Director's date of birth in DD-MM-YYYY format
                  example: 20-06-1976

              required:
                - first_name
                - middle_name
                - last_name
                - email
                - phone
                - phone_iso2
                - country
                - state
                - city
                - street
                - postal_code
                - ownership
                - position
                - birthday
      responses:
        '200':
          description: Director successfully added
          content:
            application/json:
              example:
                message: "Director Added"
                status: "success"
                data:
                  id: "55196c0f-31c7-4d1f-8b74-25e9fbf6810b"
                  first_name: "John"
                  last_name: "Derrick"
                  email: "Derrick@remote.com"
                  phone: "+234901234567899"
                  country: "US"
                  state: "DE"
                  city: "City"
                  street: "Address"
                  postal_code: "90000"
                  birthday: "29-06-1999"
                  ownership: "10"
                  position: "CTO"
                  mode: "test"
        '400':
          description: Bad Request - Missing required fields or invalid format
        '401':
          description: Unauthorized - Invalid API key
        '422':
          description: Unprocessable Entity - Validation error
  /customer/director/all/{customer_id}/{director_id}:
    get:
      summary: Get a single director
      description: >
        Retrieves the full profile details for a specific director belonging to a specific customer.
      tags:
        - Onboarded Customers - Onboarding
      security:
        - bearerAuth: [ ]
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The unique identifier of the customer.
          schema:
            type: string
        - name: director_id
          in: path
          required: true
          description: The unique identifier of the specific director to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: OK - Successfully retrieved director details.
          content:
            application/json:
              example:
                message: "Director Found"
                status: "success"
                data:
                  id: "55196c0f-31c7-4d1f-8b74-25e9fbf6810b"
                  first_name: "John"
                  last_name: "Derrick"
                  email: "Derrick@remote.com"
                  phone: "+234901234567899"
                  country: "US"
                  state: "DE"
                  city: "City"
                  street: "Address"
                  postal_code: "90000"
                  birthday: "29-06-1999"
                  ownership: "10"
                  position: "CTO"
                  mode: "test"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/director/update/{customer_id}/{director_id}:
    post:
      summary: Update director
      description: >
        Updates the existing profile details for a specific director associated with a customer. 
        Pass your `{api_key}` as a bearer token in the request header to authorize this call.
      tags:
        - Onboarded Customers - Onboarding
      security:
        - bearerAuth: [ ]
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The unique identifier of the customer (onboarded entity).
          schema:
            type: string
        - name: director_id
          in: path
          required: true
          description: The unique identifier of the director to be updated.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Director's legal first name
                  example: John

                middle_name:
                  type: string
                  description: Director's legal middle name
                  example: Michael

                last_name:
                  type: string
                  description: Director's legal last name
                  example: Derrick

                email:
                  type: string
                  format: email
                  description: Director's email address
                  example: derrick@remote.com

                phone:
                  type: string
                  description: Director's phone number, including country dialing code if applicable
                  example: +234901234567899

                phone_iso2:
                  type: string
                  description: ISO 3166-1 alpha-2 country code for the phone number
                  example: NG

                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code of residence
                  example: US

                state:
                  type: string
                  description: State, province, or subdivision code/name for the director's address
                  example: DE

                city:
                  type: string
                  description: City of residence
                  example: Wilmington

                street:
                  type: string
                  description: Street address of the director
                  example: 24 Maple Avenue

                postal_code:
                  type: string
                  description: Postal or ZIP code for the address
                  example: 90000

                ownership:
                  type: integer
                  description: Percentage of shares owned by the director
                  example: 10

                position:
                  type: string
                  description: Director's role or position in the company
                  example: CTO

                birthday:
                  type: string
                  description: Director's date of birth in DD-MM-YYYY format
                  example: 20-06-1976

              required:
                - first_name
                - middle_name
                - last_name
                - email
                - phone
                - phone_iso2
                - country
                - state
                - city
                - street
                - postal_code
                - ownership
                - position
                - birthday
      responses:
        '200':
          description: Director profile successfully updated
          content:
            application/json:
              example:
                message: "Director Updated"
                status: "success"
                data:
                  id: "55196c0f-31c7-4d1f-8b74-25e9fbf6810b"
                  first_name: "John"
                  last_name: "Derrick"
                  email: "Derrick@remote.com"
                  phone: "+234901234567899"
                  country: "US"
                  state: "DE"
                  city: "City"
                  street: "Address"
                  postal_code: "90000"
                  birthday: "29-06-1999"
                  ownership: "10"
                  position: "CTO"
                  mode: "test"
        '400':
          description: Bad Request - Missing parameters or invalid JSON structure
        '401':
          description: Unauthorized - Bearer token missing or invalid
        '422':
          description: Unprocessable Entity - Validation failed for specific fields
  /customer/director/delete/{customer_id}/{director_id}:
    delete:
      summary: Delete director
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: director_id
        in: path
        description: The unique identifier of the director
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/create:
    post:
      summary: Create customer - personal or business
      description: >
        Creates a new customer record on the Stratos platform. 
        Pass your `{api_key}` as a bearer token in the request header to authorize this call.
      tags:
        - Onboarded Customers - Onboarding
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_type:
                  type: string
                  description: "Account type must be personal or business"
                  enum: [ personal, business ]
                  example: personal
                first_name:
                  type: string
                  description: "First Name of the customer"
                  example: John
                middle_name:
                  type: string
                  description: "Middle Name (Optional)"
                  example: Dennis
                last_name:
                  type: string
                  description: "Last Name of the customer"
                  example: Joe
                email:
                  type: string
                  description: "Valid email address for the customer"
                  example: johndoe@remote.com
                phone:
                  type: string
                  description: "Phone number (include international prefix)"
                  example: +12025550147
                phone_iso2:
                  type: string
                  description: "Two-letter ISO country code for the phone number"
                  example: US
                country:
                  type: string
                  description: "Country ISO2 code (e.g., US, NG, GB)"
                  example: US
                platform_account_id:
                  type: string
                  description: "Your platform account ID. When supplied, customer will be onboarded under you"
                business_details:
                  type: object
                  description: "Required if account_type is 'business'"
                  properties:
                    business_name:
                      type: string
                      description: "Business Legal Name"
                      example: John Remote Corporation
                  required:
                    - business_name
              required:
                - account_type
                - first_name
                - last_name
                - email
                - phone
                - phone_iso2
                - country
      responses:
        '200':
          description: OK - User successfully onboarded
          content:
            application/json:
              # Example taken directly from your code snippet
              example:
                message: "User Onboarded"
                status: "success"
                data:
                  id: "0917324"
                  mode: "test"
                  first_name: "Scott"
                  last_name: "Mccal"
                  email: "74derrick@remote.com"
                  kyc_status: "PENDING"
        '400':
          description: Bad Request - Validation error
        '401':
          description: Unauthorized - Invalid or missing API Key
        '422':
          description: Unprocessable Entity - Data validation failed
  /customer/submit_kyc/{customer_id}:
    post:
      summary: Submit KYC
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The unique customer ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/upload_document/{customer_id}/{document_type}:
    post:
      summary: Add Kyc Document
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      - name: document_type
        in: path
        description: Must be document or selfie.Eg image/svg+xml,image/jpeg,image/png,image/webp,video/x-msvideo,image/gif,image/x-icon,image/jpeg
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Must be an image of a selfie or a document
  /customer/users:
    get:
      summary: Get all customers
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/users/{customer_id}:
    get:
      summary: Get a customer
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/generate_kyc_link/{customer_id}:
    get:
      summary: Generate KYC link
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The unique identifier of the customer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/update:
    post:
      summary: Update customer
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gender:
                  type: string
                  description: Customer's gender
                  example: "male"

                first_name:
                  type: string
                  description: Customer's legal first name
                  example: "John"

                middle_name:
                  type: string
                  description: Customer's legal middle name
                  example: "Michael"

                last_name:
                  type: string
                  description: Customer's legal last name
                  example: "Doe"

                email:
                  type: string
                  format: email
                  description: Customer's email address
                  example: "john.doe@example.com"

                phone:
                  type: string
                  description: Customer's phone number in international format, including country code
                  example: "+12025550147"

                phone_iso2:
                  type: string
                  description: ISO 3166-1 alpha-2 country code associated with the phone number
                  example: "US"

                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code of the customer's country of residence
                  example: "US"

                state:
                  type: string
                  description: State, province, or administrative region of the customer's address
                  example: "CA"

                city:
                  type: string
                  description: City of the customer's residential address
                  example: "Los Angeles"

                street:
                  type: string
                  description: Street address of the customer, including house number and street name
                  example: "742 Evergreen Terrace"

                postal_code:
                  type: string
                  description: Postal or ZIP code of the customer's address
                  example: "90001"

                birthday:
                  type: string
                  description: Customer's date of birth in DD-MM-YYYY format
                  example: "20-06-1976"

                source_of_fund_id:
                  type: string
                  description: Identifier representing the customer's source of funds
                  example: "salary"

                ip_address:
                  type: string
                  description: IP address from which the onboarding or update request originated
                  example: "102.89.34.12"

                id_type:
                  type: string
                  description: Type of identification document being provided for the customer
                  example: "passport"

                id_number:
                  type: string
                  description: Identification document number corresponding to the selected id_type
                  example: "XK1234567"

              required:
                - gender
                - first_name
                - middle_name
                - last_name
                - email
                - phone
                - phone_iso2
                - country
                - state
                - city
                - street
                - postal_code
                - birthday
                - source_of_fund_id
                - ip_address
                - id_type
                - id_number
  /business_registration_type:
    get:
      summary: Business registration types
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /mcc:
    get:
      summary: Business MCC
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /source_of_funds:
    get:
      summary: Source of funds
      tags:
      - Onboarded Customers - Onboarding
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /card/create-cardholder/{customer_id}:
    post:
      summary: Create Cardholder
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /card/cardholder/{customer_id}:
    get:
      summary: Get Cardholder
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /card/create-card/{customer_id}:
    post:
      summary: Create Virtual card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: The currency must be USD
              required:
              - currency
  /card/cards/{customer_id}/{card_id}:
    get:
      summary: Get Single Card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: card_id
        in: path
        description: The card ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /card/cards/{customer_id}:
    get:
      summary: All Cards
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /card/fund/{customer_id}/{card_id}:
    post:
      summary: Fund Card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: card_id
        in: path
        description: The ID of the virtual card
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
              required:
              - amount
  /card/withdraw/{customer_id}/{card_id}:
    post:
      summary: Activate card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: card_id
        in: path
        description: The ID of the virtual card
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
              required:
              - amount
  /card/deactivate/{customer_id}/{card_id}:
    post:
      summary: Deactivate card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: card_id
        in: path
        description: The ID of the virtual card
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
              required:
              - amount
  /card/transactions/{customer_id}/{card_id}:
    get:
      summary: Card transactions
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: card_id
        in: path
        description: The ID of the virtual card
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /decrypt:
    post:
      summary: Decrypt Card
      tags:
      - Onboarded Customers - Virtual Cards
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Pass in the encoded card details gotten from the call to the Get Single Card endpoint
              required:
              - data
  /customer/cryptowallets/{customer_id}:
    get:
      summary: Fetch all wallets
      tags:
      - Onboarded Customers - Crypto Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/cryptowallets/new/{wallet_id}:
    get:
      summary: Generate new wallet address
      tags:
      - Onboarded Customers - Crypto Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: wallet_id
        in: path
        description: The unique ID of the wallet this will be associated with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /virtual/accounts/{customer_id}/create:
    post:
      summary: Create virtual account
      tags:
      - Onboarded Customers - Fiat Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                bvn:
                  type: string
              required:
              - currency
              - bvn
  /virtual/accounts/{customer_id}/bank-details:
    get:
      summary: Fetch all accounts
      tags:
      - Onboarded Customers - Fiat Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /virtual/accounts/{customer_id}/bank-details/{virtual_account_id}:
    get:
      summary: Fetch single account
      tags:
      - Onboarded Customers - Fiat Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: virtual_account_id
        in: path
        description: The virtual account ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/wallets/{customer_id}:
    get:
      summary: All wallets
      tags:
      - Onboarded Customers - Fiat Wallets
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/transactions/{customer_id}:
    get:
      summary: All  transactions
      tags:
      - Onboarded Customers - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/transactions/{customer_id}/{trx_id}:
    get:
      summary: Single transaction
      tags:
      - Onboarded Customers - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: trx_id
        in: path
        description: The transaction ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/recipient/transactions/{customer_id}/{recipient_id}:
    get:
      summary: Payout recipient transactions
      tags:
      - Onboarded Customers - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: recipient_id
        in: path
        description: The ID of the recipient
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/wallet/transactions/{customer_id}/{customer_wallet_id}:
    get:
      summary: Fiat Wallet Transactions
      tags:
      - Onboarded Customers - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: customer_wallet_id
        in: path
        description: The customer wallet ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/crypto/wallet/transactions/{customer_id}/{customer_crypto_wallet_id}:
    get:
      summary: Crypto Wallet Transactions
      tags:
      - Onboarded Customers - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      - name: customer_crypto_wallet_id
        in: path
        description: The customer crypto wallet ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/recipient/create/{customer_id}:
    post:
      summary: Add recipient
      tags:
      - Onboarded Customers - Remittance Recipients
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                international_remittance_id:
                  type: string
                  description: ID of Recipient Country, learn more about getting international_remittance_id from /reference/currencies
                first_name:
                  type: string
                  description: The recipient's firstname
                middle_name:
                  type: string
                  description: The recipient's middlename(optional)
                last_name:
                  type: string
                  description: The recipient's lastname
                email:
                  type: string
                  description: The recipient's email address
                phone:
                  type: string
                  description: The phone number of the recipient
                phone_iso2:
                  type: string
                  description: Recipient Phone number iso2
                delivery_method:
                  type: string
                  description: Recipient Payout Method, must be between, bank, mobile_money, cash_pickup
                bank_name:
                  type: string
                  description: The bank name
                entity_type:
                  type: string
                  description: Sender Entity Type, either personal or business, this is required if delivery_method is bank
                routing_type:
                  type: string
                  description: Can be ACH_CODE, SWIFT, IFSC, SORT_CODE, BANK_CODE, BRANCH_CODE, BSB_CODE, LOCATION_ID, TRANSIT_NUMBER, This is always validated against recipient country, required if delivery_method is bank. Verify if routing_type is correct via http://stratos.test/user/docs/reference/banks.
                routing_code:
                  type: string
                  description: Bank routing code, required if delivery_method is bank. Verify if routing_code is correct via http://stratos.test/user/docs/reference/banks.
                acct_type_id:
                  type: string
                  description: Recipient Account Type, required if delivery_method is bank. Learn more about getting acct_type_id from http://stratos.test/user/docs/reference/currencies under international remittance object.
                acct_no:
                  type: string
                  description: Recipient Bank Account Number, required if delivery_method is bank.
                acct_name:
                  type: string
                  description: Recipient Bank Account Name, required if delivery_method is bank.
                state:
                  type: string
                  description: Recipient State iso2
                city:
                  type: string
                  description: Recipient city
                address:
                  type: string
                  description: Recipient address
                postal_code:
                  type: string
                  description: Recipient Postal/Zip Code
              required:
              - international_remittance_id
              - first_name
              - middle_name
              - last_name
              - email
              - phone
              - phone_iso2
              - delivery_method
              - bank_name
              - entity_type
              - routing_type
              - routing_code
              - acct_type_id
              - acct_no
              - acct_name
              - state
              - city
              - address
              - postal_code
  /customer/recipient/{customer_id}/{recipient_id}:
    get:
      summary: Get a recipient
      tags:
      - Onboarded Customers - Remittance Recipients
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      - name: recipient_id
        description: The ID of the recipient
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/recipient/{customer_id}:
    get:
      summary: Get all recipients
      tags:
      - Onboarded Customers - Remittance Recipients
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/recipient/update/{customer_id}/{recipient_id}:
    post:
      summary: Update recipient
      tags:
      - Onboarded Customers - Remittance Recipients
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      - name: recipient_id
        description: The ID of the recipient
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                international_remittance_id:
                  type: string
                  description: ID of Recipient Country, learn more about getting international_remittance_id from /reference/currencies
                first_name:
                  type: string
                  description: Recipient's firstname
                middle_name:
                  type: string
                  description: Recipient's middlename
                last_name:
                  type: string
                  description: Recipient's lastname
                email:
                  type: string
                  description: Recipient's email address
                phone:
                  type: string
                  description: Recipient's phone number
                phone_iso2:
                  type: string
                  description: Recipient's phone number iso2
                delivery_method:
                  type: string
                  description: Recipient Payout Method, must be between, bank, mobile_money, cash_pickup
                bank_name:
                  type: string
                  description: The bank name
                entity_type:
                  type: string
                  description: Sender Entity Type, either personal or business, this is required if delivery_method is bank
                routing_type:
                  type: string
                  description: Can be ACH_CODE, SWIFT, IFSC, SORT_CODE, BANK_CODE, BRANCH_CODE, BSB_CODE, LOCATION_ID, TRANSIT_NUMBER, This is always validated against recipient country, required if delivery_method is bank. Verify if routing_type is correct via http://stratos.test/user/docs/reference/banks.
                routing_code:
                  type: string
                  description: Bank routing code, required if delivery_method is bank. Verify if routing_code is correct via http://stratos.test/user/docs/reference/banks.
                acct_type_id:
                  type: string
                  description: Recipient Account Type, required if delivery_method is bank. Learn more about getting acct_type_id from http://stratos.test/user/docs/reference/currencies under international remittance object.
                acct_no:
                  type: string
                  description: Recipient Bank Account Number, required if delivery_method is bank.
                acct_name:
                  type: string
                  description: Recipient Bank Account Name, required if delivery_method is bank.
                state:
                  type: string
                  description: Recipient State iso2
                city:
                  type: string
                  description: Recipient city
                address:
                  type: string
                  description: Recipient address
                postal_code:
                  type: string
                  description: Recipient Postal/Zip Code
              required:
              - international_remittance_id
              - first_name
              - middle_name
              - last_name
              - email
              - phone
              - phone_iso2
              - delivery_method
              - bank_name
              - entity_type
              - routing_type
              - routing_code
              - acct_type_id
              - acct_no
              - acct_name
              - state
              - city
              - address
              - postal_code
  /customer/recipient/delete/{customer_id}/{recipient_id}:
    delete:
      summary: Delete recipient
      tags:
      - Onboarded Customers - Remittance Recipients
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      - name: recipient_id
        description: The ID of the recipient
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/fetch-mcp-key/{customer_id}:
    get:
      summary: Fetch Customer MCP Keys
      tags:
      - Onboarded Customers - MCP Server
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/rotate-mcp-key/{customer_id}:
    get:
      summary: Rotate Customer MCP Keys
      tags:
      - Onboarded Customers - MCP Server
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        description: The ID or MCP Key of the onboarded customer.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/multi-factor-security/{customer_id}:
    get:
      summary: Link to Auth App
      tags:
      - Onboarded Customers - Multi Factor Security
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/activate-multi-factor-security/{customer_id}:
    get:
      summary: Activate
      tags:
      - Onboarded Customers - Multi Factor Security
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/disable-multi-factor-security/{customer_id}:
    get:
      summary: Disable
      tags:
      - Onboarded Customers - Multi Factor Security
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customer/swap/{customer_id}:
    post:
      summary: Swap funds (On Customer Account)
      tags:
      - Onboarded Customers - Swap & Payout
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_wallet:
                  type: string
                to_wallet:
                  type: string
                amount:
                  type: integer
                external_id:
                  type: string
              required:
              - from_wallet
              - to_wallet
              - amount
              - external_id
  /customer/payout/{customer_id}:
    post:
      summary: Create payout (On Customer Account)
      tags:
      - Onboarded Customers - Swap & Payout
      security:
      - bearerAuth: []
      parameters:
      - name: customer_id
        in: path
        description: The ID or MCP Key of the onboarded customer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transfer_purpose_id:
                  type: string
                  description: Purpose of sending money to recipient
                external_id:
                  type: string
                  description: Your platform transaction ID
                recipient_id:
                  type: string
                  description: Recipient ID, recipient or payee information
                delivery_window_id:
                  type: string
                  description: This determines how fast recipient receives payout, not required if there are no options available under delivery_windows object. Learn more http://stratos.test/user/docs/reference/currencies
                amount:
                  type: integer
                  description: Amount is lowest currency denomination, the is the amount of money you are sending to recipient, ensure its the recipient currency the recipient expects
              required:
              - transfer_purpose_id
              - external_id
              - recipient_id
              - delivery_window_id
              - amount
  /payment:
    post:
      summary: initiate payment
      tags:
      - Merchant (Main Account) - Payment Collection
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /charge-card:
    post:
      summary: Direct Card Charge
      tags:
      - Merchant (Main Account) - Payment Collection
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /verify-payment/{payment_external_reference}:
    get:
      summary: Verify payment
      tags:
      - Merchant (Main Account) - Payment Collection
      security:
      - bearerAuth: []
      parameters:
      - name: payment_external_reference
        description: Transaction reference used for creating checkout url
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /barcode/{session_id}:
    post:
      summary: Cash Payment
      tags:
      - Merchant (Main Account) - Payment Collection
      security:
      - bearerAuth: []
      parameters:
      - name: session_id
        description: The payment session ID
        in: path
        required: true
        schema: 
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: string
                longitude:
                  type: string
              required:
              - latitude
              - longitude
  /transactions:
    get:
      summary: All  transactions
      tags:
      - Merchant (Main Account) - Transactions
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /transactions/{trx_id}:
    get:
      summary: Single transaction
      tags:
      - Merchant (Main Account) - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: trx_id
        description: ID or transaction reference
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /recipient/transactions/{recipient_id}:
    get:
      summary: Payout recipient transactions
      tags:
      - Merchant (Main Account) - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: recipient_id
        in: path
        description: ID of remittance recipient
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /wallet/transactions/{wallet_id}:
    get:
      summary: Fiat Wallet Transactions
      tags:
      - Merchant (Main Account) - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: wallet_id
        in: path
        description: ID of fiat wallet
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /cryptowallet/transactions/{crypto_wallet_id}:
    get:
      summary: Crypto Wallet Transactions
      tags:
      - Merchant (Main Account) - Transactions
      security:
      - bearerAuth: []
      parameters:
      - name: crypto_wallet_id
        in: path
        description: ID of crypto wallet
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /recipient/create:
    post:
      summary: Add recipient
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                international_remittance_id:
                  type: string
                  description: ID of Recipient Country, learn more about getting international_remittance_id from /reference/currencies
                first_name:
                  type: string
                  description: The recipient's firstname
                middle_name:
                  type: string
                  description: The recipient's middlename(optional)
                last_name:
                  type: string
                  description: The recipient's lastname
                email:
                  type: string
                  description: The recipient's email address
                phone:
                  type: string
                  description: The phone number of the recipient
                phone_iso2:
                  type: string
                  description: Recipient Phone number iso2
                delivery_method:
                  type: string
                  description: Recipient Payout Method, must be between, bank, mobile_money, cash_pickup
                bank_name:
                  type: string
                  description: The bank name
                entity_type:
                  type: string
                  description: Sender Entity Type, either personal or business, this is required if delivery_method is bank
                routing_type:
                  type: string
                  description: Can be ACH_CODE, SWIFT, IFSC, SORT_CODE, BANK_CODE, BRANCH_CODE, BSB_CODE, LOCATION_ID, TRANSIT_NUMBER, This is always validated against recipient country, required if delivery_method is bank. Verify if routing_type is correct via http://stratos.test/user/docs/reference/banks.
                routing_code:
                  type: string
                  description: Bank routing code, required if delivery_method is bank. Verify if routing_code is correct via http://stratos.test/user/docs/reference/banks.
                acct_type_id:
                  type: string
                  description: Recipient Account Type, required if delivery_method is bank. Learn more about getting acct_type_id from http://stratos.test/user/docs/reference/currencies under international remittance object.
                acct_no:
                  type: string
                  description: Recipient Bank Account Number, required if delivery_method is bank.
                acct_name:
                  type: string
                  description: Recipient Bank Account Name, required if delivery_method is bank.
                state:
                  type: string
                  description: Recipient State iso2
                city:
                  type: string
                  description: Recipient city
                address:
                  type: string
                  description: Recipient address
                postal_code:
                  type: string
                  description: Recipient Postal/Zip Code
              required:
              - international_remittance_id
              - first_name
              - middle_name
              - last_name
              - email
              - phone
              - phone_iso2
              - delivery_method
              - bank_name
              - entity_type
              - routing_type
              - routing_code
              - acct_type_id
              - acct_no
              - acct_name
              - state
              - city
              - address
              - postal_code
  /recipient/{recipient_id}:
    get:
      summary: Get a recipient
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: recipient_id
        in: path
        description: ID of remittance recipient
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /recipient:
    get:
      summary: Get all recipients
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /recipient/update/{recipient_id}:
    post:
      summary: Update recipient
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: recipient_id
        description: ID of remittance recipient
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                international_remittance_id:
                  type: string
                  description: ID of Recipient Country, learn more about getting international_remittance_id from /reference/currencies
                first_name:
                  type: string
                  description: Recipient's firstname
                middle_name:
                  type: string
                  description: Recipient's middlename
                last_name:
                  type: string
                  description: Recipient's lastname
                email:
                  type: string
                  description: Recipient's email address
                phone:
                  type: string
                  description: Recipient's phone number
                phone_iso2:
                  type: string
                  description: Recipient's phone number iso2
                delivery_method:
                  type: string
                  description: Recipient Payout Method, must be between, bank, mobile_money, cash_pickup
                bank_name:
                  type: string
                  description: The bank name
                entity_type:
                  type: string
                  description: Sender Entity Type, either personal or business, this is required if delivery_method is bank
                routing_type:
                  type: string
                  description: Can be ACH_CODE, SWIFT, IFSC, SORT_CODE, BANK_CODE, BRANCH_CODE, BSB_CODE, LOCATION_ID, TRANSIT_NUMBER, This is always validated against recipient country, required if delivery_method is bank. Verify if routing_type is correct via http://stratos.test/user/docs/reference/banks.
                routing_code:
                  type: string
                  description: Bank routing code, required if delivery_method is bank. Verify if routing_code is correct via http://stratos.test/user/docs/reference/banks.
                acct_type_id:
                  type: string
                  description: Recipient Account Type, required if delivery_method is bank. Learn more about getting acct_type_id from http://stratos.test/user/docs/reference/currencies under international remittance object.
                acct_no:
                  type: string
                  description: Recipient Bank Account Number, required if delivery_method is bank.
                acct_name:
                  type: string
                  description: Recipient Bank Account Name, required if delivery_method is bank.
                state:
                  type: string
                  description: Recipient State iso2
                city:
                  type: string
                  description: Recipient city
                address:
                  type: string
                  description: Recipient address
                postal_code:
                  type: string
                  description: Recipient Postal/Zip Code
              required:
              - international_remittance_id
              - first_name
              - middle_name
              - last_name
              - email
              - phone
              - phone_iso2
              - delivery_method
              - bank_name
              - entity_type
              - routing_type
              - routing_code
              - acct_type_id
              - acct_no
              - acct_name
              - state
              - city
              - address
              - postal_code
  /recipient/delete/{recipient_id}:
    delete:
      summary: Delete recipient
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: recipient_id
        in: path
        description: The ID of the remittance recipient
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /simulate/success/{trx_id}:
    get:
      summary: Approve payout
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: trx_id
        in: path
        description: The transaction ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /simulate/decline/{trx_id}:
    get:
      summary: Decline payout
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: trx_id
        in: path
        description: The transaction ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /verify-bank:
    post:
      summary: Verify bank
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                routing_type:
                  type: string
                  description: Can be ACH_CODE or SWIFT.
                routing_code:
                  type: string
                  description: Bank routing code
                iso2:
                  type: string
                  description: Country Iso2 of recipient country
              required:
              - routing_type
              - routing_code
              - iso2
  /transfer_purpose:
    get:
      summary: Transfer purpose
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /banks/us:
    get:
      summary: Banks
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /networks/{currency_id}:
    get:
      summary: Mobile money networks
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: currency_id
        in: path
        description: Id of fiat currency
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /crypto/{currency_id}:
    get:
      summary: Cryptocurrency
      tags:
      - Merchant (Main Account) - Remittance
      security:
      - bearerAuth: []
      parameters:
      - name: currency_id
        in: path
        description: Id of fiat currency
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /ledger/create_entity:
    post:
      summary: Create entity
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_name:
                  type: string
                  description: Customer/Agent/Account/Merchant Name
                external_reference:
                  type: string
                  description: Your platform external reference
              required:
              - entity_name
              - external_reference
  /ledger/entity/{entity_id}:
    get:
      summary: Fetch an entity
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      parameters:
      - name: entity_id
        in: path
        description: The entity ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /ledger/entity:
    get:
      summary: Fetch all entities
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /ledger/credit_trx:
    post:
      summary: Create credit transaction
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  description: ID of the entity to credit. This can be a user, merchant, agent or account.
                currency:
                  type: string
                  description: Currency. Must be one of the supported currencies in ISO3 e.g USD.
                amount:
                  type: string
                  description: Credit Amount. This should be in the currency's lowest denomination
                external_reference:
                  type: string
                  description: Your transaction reference. This MUST be unique for every transaction
              required:
              - entity_id
              - currency
              - amount
              - external_reference
  /ledger/debit_trx:
    post:
      summary: Create debit transaction
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  description: ID of the entity to debit. This can be a user, merchant, agent or account.
                currency:
                  type: string
                  description: Currency. Must be one of the supported currencies in ISO3 e.g USD.
                amount:
                  type: string
                  description: Debit Amount. This should be in the currency's lowest denomination
                external_reference:
                  type: string
                  description: The external reference
              required:
              - entity_id
              - currency
              - amount
              - external_reference
  /ledger/transfer_trx:
    post:
      summary: Transfer transaction
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  description: ID of the entity to debit. This can be a user, merchant, agent or account.
                recipient_entity_id:
                  type: string
                  description: ID of the entity to credit. This can be a user, merchant, agent or account.
                amount:
                  type: string
                  description: Debit Amount. This should be in the currency's lowest denomination
                currency:
                  type: string
                  description: Currency. Must be one of the supported currencies in ISO3 e.g USD.
                external_reference:
                  type: string
                  description: The external reference
              required:
              - entity_id
              - recipient_entity_id
              - amount
              - currency
              - external_reference
  /ledger/transactions/{entity_id}/{ledger_transaction_id}:
    get:
      summary: Entity single transaction
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      parameters:
      - name: entity_id
        description: The entity ID
        in: path
        required: true
        schema:
          type: string
      - name: ledger_transaction_id
        in: path
        description: The ledger transaction id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /ledger/transactions/{entity_id}:
    get:
      summary: Entity transactions
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      parameters:
      - name: entity_id
        description: The entity ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /ledger/fetch_balances:
    post:
      summary: Fetch balances
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      entity_id:
                        type: string
                        description: The entity ID
                      currency:
                        type: string
                        description: The currency ID
                    required:
                    - entity_id
                    - currency
              required:
              - data
  /ledger/validate_bulk_trx:
    post:
      summary: Validate Bulk Request
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      entity_id:
                        type: string
                        description: The ID of the entity
                      external_reference:
                        type: string
                        description: The external reference
                      currency:
                        type: string
                        description: The currency ID
                      amount:
                        type: integer
                      type:
                        type: string
                      allowNegativeBalance:
                        type: boolean
                        description: allowNegativeBalance only works for transfer end debit transactions
                      allowPositiveBalance:
                        type: boolean
                        description: allowPositiveBalance only works for credit & transfer(recipient) transaction
                    required:
                    - entity_id
                    - external_reference
                    - currency
                    - amount
                    - type
                    - allowNegativeBalance
                    - allowPositiveBalance
              required:
              - data
  /ledger/bulk_trx:
    post:
      summary: Bulk Transaction
      tags:
      - Merchant (Main Account) - Blockchain Ledger
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      entity_id:
                        type: string
                        description: The ID of the entity
                      external_reference:
                        type: string
                        description: The external reference
                      currency:
                        type: string
                        description: The currency ID
                      amount:
                        type: integer
                      type:
                        type: string
                      allowNegativeBalance:
                        type: boolean
                        description: allowNegativeBalance only works for transfer end debit transactions
                      allowPositiveBalance:
                        type: boolean
                        description: allowPositiveBalance only works for credit & transfer(recipient) transaction
                    required:
                    - entity_id
                    - external_reference
                    - currency
                    - amount
                    - type
                    - allowPositiveBalance
              required:
              - data
  /transfer_to_customer:
    post:
      summary: Transfer to customer
      tags:
      - Merchant (Main Account) - Local Transfer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_wallet:
                  type: string
                  description: Debit Fiat Wallet ID/Crypto Wallet ID
                amount:
                  type: string
                  description: Amount is lowest currency denomination
                account_id:
                  type: string
                  description: Onboarded Customer ID, customer wallet will be credited
                external_id:
                  type: string
                  description: Your platform transaction ID
              required:
              - from_wallet
              - amount
              - account_id
              - external_id
  /transfer_from_customer/{customer_id}:
    post:
      summary: Transfer from customer
      tags:
      - Merchant (Main Account) - Local Transfer
      security:
      - bearerAuth: []
      parameters:
        - name: customer_id
          description: Customer ID. The ID of the onboarded customer.
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_wallet:
                  type: string
                  description: Debit Fiat Wallet ID/Crypto Wallet ID
                amount:
                  type: string
                  description: Amount is lowest currency denomination
                external_id:
                  type: string
                  description: Your platform transaction ID
              required:
              - from_wallet
              - amount
              - external_id
  /countries:
    get:
      summary: All Countries covered by Stratos
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /currencies/{iso2}/USD:
    get:
      summary: Fiat Currencies by iso2
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      parameters:
      - name: iso2
        in: path
        description: Country iso2
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /cryptocurrencies/{iso2}:
    get:
      summary: Crypto Currencies by iso2
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      parameters:
      - name: iso2
        in: path
        description: Country iso2
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /account_fiat_currencies:
    get:
      summary: Main Account Fiat Currencies Configuration
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /account_crypto_currencies:
    get:
      summary: Main Account Crypto Currencies Configuration
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /wallet:
    get:
      summary: Main Account Fiat wallets
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /cryptowallet:
    get:
      summary: Main Account Crypto wallets
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /swap:
    post:
      summary: Swap funds (On Main Account)
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_wallet:
                  type: string
                  description: Debit Fiat Wallet ID/Crypto Wallet ID
                to_wallet:
                  type: string
                  description: Credit Fiat Wallet ID/Crypto Wallet ID
                amount:
                  type: integer
                  description: Amount is lowest currency denomination
                external_id:
                  type: string
                  description: Your platform transaction ID
              required:
              - from_wallet
              - to_wallet
              - amount
              - external_id
  /payout:
    post:
      summary: Create payout (On Main Account)
      tags:
      - Merchant (Main Account) - General
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transfer_purpose_id:
                  type: string
                  description: Purpose of sending money to recipient
                external_id:
                  type: string
                  description: Your platform transaction ID
                account_id:
                  type: string
                recipient_id:
                  type: string
                  description: Recipient ID, recipient or payee information
                delivery_window_id:
                  type: string
                  description: This determines how fast recipient receives payout, not required if there are no options available under delivery_windows object. Learn more http://stratos.test/user/docs/reference/currencies
                amount:
                  type: integer
                  description: Amount in lowest currency denomination, this is the amount of money you are sending to recipient, ensure its the recipient currency the recipient expects
              required:
              - transfer_purpose_id
              - external_id
              - account_id
              - recipient_id
              - delivery_window_id
              - amount
  /invoice/headers:
    get:
      summary: Get all invoice headers
      tags:
        - Merchant (Main Account) - Invoice
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /invoice/headers/create:
    post:
      summary: Create Invoice header (On Main Account)
      tags:
        - Merchant (Main Account) - Invoice
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to appear on the invoice header
                phone:
                  type: string
                  description: Phone number
                address:
                  type: string
                  description: Invoice header address
                postal_code:
                  type: string
                  description: Postal/Zip Code
                website:
                  type: string
                  description: The entity's website
                image_url:
                  type: string
                  description: URL of the logo to display on the invoice header.
                image_size:
                  type: integer
                  description: Size of the image as a percentage of its original dimensions. Accepted values are 10, 20, 30, 40, 50, 60, 70, 80, 90, or 100.
                country:
                  type: string
                company_name:
                  type: string
                  description: The company name to appear on the invoice header. An invoice header is always tied to a company. You can only generate one invoice header per company.
                city:
[...]
